#library {
  /* margin-bottom: 200px; */
  padding-bottom: 50px;
}

#welcome {
  padding-top: 5%;
  padding-bottom: 5%;
}

#current {
  padding-bottom: 65px;
}

#welcome, #library {
  margin-top: 85px;
  margin-bottom: 15px;
}

.row {
  position: relative;
}

#profile {
  position: static;
  width: 100%;
}

#current, #library {
  min-height: 500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.middle {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  vertical-align: middle;
}

iframe {
  width: 100%;
  min-height: 350px;
  border: 0;

  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.hide {
   position: absolute !important;
   top: -99999px !important;
   left: -99999px !important;
   transition: all 2s;
}

#profile {
  width: 100%;
  vertical-align: middle;
}

.profileslide {
  width: 100%;
}

.nodisplay {
  display: none;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.grid-sizer, .grid-item {
  width: 31%;
  margin: 1%;
  height: auto;
}

@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  /* 2 columns */
  .grid-sizer, .grid-item {
    width: 46%;
    margin: 1%;
    height: auto;
  }
}

@media (max-width: 400px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  /* 2 columns */
  .grid-sizer, .grid-item {
    width: 100%;
    margin-bottom: 1%;
    height: auto;
  }
}

.grid-item, .grid-item--width2 {
  float: center;
}

.not-showing-items {
  opacity: 0;
}

.is-showing-items .grid-item {
  opacity: 1; /* reveal when ready */
}

.nodisplay {
  display: none;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
