<!DOCTYPE html>
{% extends "BCrowley_App/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div id="library" class="container">
  <!-- Inspiration contents -->
  <div id="inspirationcontent" class= "row">
    {% if inspiration_list %}
    {% for inspiration in inspiration_list %}
    <div class='column col-lg-3 col-md-3 col-sm-6 col-xs-12'>
      <div class='showcase'>
        <!-- <a href='{{inspiration.online_reference}}' target='_blank'><img src='{{inspiration.cover_photo}}' class='center framed'></a> -->
        <p><em>{{inspiration.description}}</em></p>
        <p>- {{inspiration.author}}</p>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
