<!DOCTYPE html>
{% extends "BCrowley_App/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div id="library" class="container">
  <!-- Inspiration contents -->
  <div id="inspirationcontent" class='grid'>
      <div class="grid-sizer"></div>
      {% if inspiration_list %}
        {% for inspiration in inspiration_list %}
          {% if inspiration.ins_type == 'QT' %}
          <div class='grid-item showcase'>
            <!-- <a href='{{inspiration.online_reference}}' target='_blank'><img src='{{inspiration.cover_photo}}' class='center framed'></a> -->
            <p><em>{{inspiration.description}}</em></p>
            <p>- {{inspiration.author}}</p>
          </div>
          {% endif %}
          {% if inspiration.ins_type == 'SP' %}
          <div class='grid-item showcase'>
            <a class="venobox" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href='{{inspiration.online_reference}}' target='_blank'><img src='{{inspiration.cover_photo}}' alt='{{inspiration.description}}' class='center framed'></a>
            <p><em>{{inspiration.description}}</em></p>
            <p>- {{inspiration.author}}</p>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
