<!DOCTYPE html>
{% extends "BCrowley_App/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div id="library" class="container">
  <!-- Inspiration contents -->
  <div id="inspirationcontent" class='grid'>
      <div class="grid-sizer"></div>
      {% if project_list %}
        {% for project in project_list %}
          {% if project.cover_photo_local %}
          <div class='grid-item showcase'>
            <a href='{{project.online_reference}}' target='_blank'><img src='{% static project.cover_photo_local %}' class='center framed'></a>
            <p><em>{{project.project_name}}</em></p>
          </div>
          {% endif %}
          {% if project.cover_photo_remote %}
          <div class='grid-item showcase'>
            <a href='{{project.online_reference}}' target='_blank'><img src='{{project.cover_photo_remote}}' class='center framed'></a> -->
            <p><em>{{project.project_name}}</em></p>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
